<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>Preparing to run test with provider: DemoDummy and email: automated@singlewire.com for api: http://vince.poweredbypeanuts.com:3000/api</string>
			<key>Timestamp</key>
			<date>2014-03-04T20:36:27Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
